	<!-- Dashboard Boxes -->
	<div class="row">
		<dashboard-widget dataset="users" text="Users"></dashboard-widget>
		<dashboard-widget dataset="widgets" text="Widgets"></dashboard-widget>
	</div>

	<!-- Tables -->
	<div class="row">

		<!-- Users listing -->
		<small-filtered-table dataset="users" title="Users"></small-filtered-table>
		<!-- End Users -->

		<!-- Widget listing -->
		<small-filtered-table dataset="widgets" title="Widgets"></small-filtered-table>
		<!-- End Widgets -->

	</div><!-- End Tables -->